@use "../base/vars";
@use "../base/mixins";

.card-hero {
    background-color: vars.$lightBgColor;
    border-radius: vars.$bigBorderRadius;
    width: 310px;
    height: 228px;
    padding: 28px 20px 25px 28px;
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
    transition: vars.$basicTrans;
    background-position: 0% 0%;
    background: linear-gradient(#ffffff 50%, #86cd65 50%, #63ab41 100%);
    background-size: 200% 200%;

    &:first-child {
        z-index: 9;
    }

    &:hover {
        color: vars.$lightTextColor;
        background-position: -100% -100%;

        .card-hero__title {
            color: vars.$lightTextColor;
        }

        .card-hero__subtitle {
            color: vars.$lightTextColor;
        }

        .card-hero__img-wrapper {
            background-position: 100% 100%;
        }

        svg {
            fill: vars.$darkBgColor;
        }
    }

    @media (max-width: vars.$mediaTablet) {
        box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.15);
    }

    @media (max-width: vars.$mediaSmallTablet) {
        width: 250px;
        height: 180px;
        padding: 20px 30px 35px 25px;
    }

    @media (max-width: vars.$mediaMobile) {
        width: 233px;
        height: 157px;
        padding: 17px 25px 31px 19px;
    }
}

.card-hero__text {
    overflow: hidden;
    height: 100%;
}

.card-hero__title {
    font-size: 24px;
    color: vars.$darkTextColor;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
    transition: vars.$basicTrans;

    @media (max-width: vars.$mediaTablet) {
        font-size: 21px;
    }

    @media (max-width: vars.$mediaSmallTablet) {
        font-size: 19px;
        margin-bottom: 2px;
    }

    @media (max-width: vars.$mediaMobile) {
        font-size: 17px;
        margin-bottom: 1px;
    }
}

.card-hero__subtitle {
    font-size: 16px;
    color: vars.$mediumTextColor;
    font-weight: 600;
    margin-bottom: 23px;
    text-align: center;
    transition: vars.$basicTrans;

    @media (max-width: vars.$mediaTablet) {
        font-size: 15px;
    }

    @media (max-width: vars.$mediaSmallTablet) {
        font-size: 14px;
        margin-bottom: 16px;
    }

    @media (max-width: vars.$mediaMobile) {
        font-size: 12px;
        margin-bottom: 12px;
    }
}

.card-hero__descr {
    font-size: 16px;
    overflow: hidden;

    @media (max-width: vars.$mediaTablet) {
        font-size: 15px;
    }

    @media (max-width: vars.$mediaSmallTablet) {
        font-size: 14px;
    }

    @media (max-width: vars.$mediaMobile) {
        font-size: 12px;
    }
}

.card-hero__img-wrapper {
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: absolute;
    top: -12px;
    left: -12px;
    background: linear-gradient(
        #86cd65 25%,
        #63ab41 50%,
        #ffffff 50%,
        #ffffff 100%
    );
    background-position: 0% 0%;
    background-size: 200% 200%;
    border-radius: vars.$bigBorderRadius;
    padding: 16px;
    transform: rotate(7deg);
    transition: vars.$basicTrans;
    z-index: 9;

    svg {
        @include mixins.imgAdaptive(1, contain);
        fill: vars.$lightBgColor;
        transition: vars.$basicTrans;
    }

    @media (max-width: vars.$mediaTablet) {
        width: 75px;
        height: 75px;
        padding: 14px;
    }

    @media (max-width: vars.$mediaSmallTablet) {
        width: 65px;
        height: 65px;
        padding: 12px;
    }

    @media (max-width: vars.$mediaMobile) {
        width: 52px;
        height: 52px;
        padding: 10px;
    }
}

.card-hero:first-child .card-hero__img-wrapper,
.card-hero:nth-child(4) .card-hero__img-wrapper {
    transform: rotate(-7deg);
}
