@use "../base/vars";
@use "../base/mixins";

.card-hero {
    max-width: 310px;
    background-color: vars.$lightBgColor;
    box-shadow: 4px 4px 50px #000000;
    border-radius: vars.$bigBorderRadius;
    min-width: 310px;
    height: 228px;
    padding: 28px 20px 25px 28px;
    position: relative;
    cursor: pointer;
    transition: vars.$basicTrans;
    background-position: 0% 0%;
    background: linear-gradient(#ffffff 50%, #86cd65 50%, #63ab41 100%);
    background-size: 200% 200%;

    &:first-child {
        z-index: 9;
    }

    &:hover {
        color: vars.$lightTextColor;
        background-position: -100% -100%;

        .card-hero__title {
            color: vars.$lightTextColor;
        }

        .card-hero__subtitle {
            color: vars.$lightTextColor;
        }

        .card-hero__img-wrapper {
            background-position: 100% 100%;
        }

        svg {
            fill: vars.$darkBgColor;
        }
    }
}

.card-hero__text {
    overflow: hidden;
    height: 100%;
}

.card-hero__title {
    font-size: 24px;
    color: vars.$darkTextColor;
    font-weight: 700;
    margin-bottom: 3px;
    text-align: center;
    transition: vars.$basicTrans;
}

.card-hero__subtitle {
    font-size: 16px;
    color: vars.$mediumTextColor;
    font-weight: 600;
    margin-bottom: 23px;
    text-align: center;
    transition: vars.$basicTrans;
}

.card-hero__descr {
    font-size: 16px;
    overflow: hidden;
}

.card-hero__img-wrapper {
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: absolute;
    top: -12px;
    left: -12px;
    background: linear-gradient(
        #86cd65 25%,
        #63ab41 50%,
        #ffffff 50%,
        #ffffff 100%
    );
    background-position: 0% 0%;
    background-size: 200% 200%;
    border-radius: vars.$bigBorderRadius;
    padding: 16px;
    transform: rotate(7deg);
    transition: vars.$basicTrans;
    z-index: 9;

    svg {
        @include mixins.imgAdaptive(1, contain);
        fill: vars.$lightBgColor;
        transition: vars.$basicTrans;
    }
}

.card-hero:first-child .card-hero__img-wrapper,
.card-hero:last-child .card-hero__img-wrapper {
    transform: rotate(-7deg);
}
