@use "../base/vars";
@use "../base/mixins";
@use "../components/card-hero";

.hero {
    position: relative;
    max-height: 602px;
    margin-top: 40px;

    &__container {
        position: absolute;
        inset: 0;
    }
}

.hero__img-container {
    margin: 0 auto;
    max-width: 1296px;
    position: relative;
}

.hero__photo-wrapper {
    max-width: 1096px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    border-radius: vars.$bigBorderRadius;

    img {
        @include mixins.imgAdaptive(1.83);
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            180deg,
            rgb(0, 0, 0, 0),
            rgb(0, 0, 0, 0.98)
        );
    }
}

.hero__info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 58px;
    max-width: 376px;
}

.hero__title {
    font-size: 65px;
    color: vars.$lightTextColor;
    font-weight: 700;
}

.hero__descr {
    font-size: 35px;
    color: vars.$lightTextColor;
    line-height: 1;
    letter-spacing: 0.045em;
}

.cards {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: min(47px, 5vw);
    max-width: 667px;
}

.router {
    position: absolute;
    top: 0;
    left: 0;
    translate: -17px -50%;
    font-size: 35px;
    color: vars.$lightTextColor;
    font-weight: 700;
    padding: 13px 48px 13px 34px;
    background-color: vars.$darkBgColor;
    border-radius: 20px 50px 0px 20px;
}
