@use "../base/vars";

.lifehacks {
    height: 1533px;
    margin-top: -275px;
    padding-top: 275px;
    position: relative;

    &::after {
        content: "";
        background: url("../img/lifehacks_bg.png") top / 100% 1533px no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

.lifehacks_route {
    position: absolute;
    top: 50px;
    left: 50%;
    translate: -50% 0;
    width: 1321px;
    height: 100%;
    z-index: 1;
    pointer-events: none;

    img {
        width: 100%;
        height: 100%;
    }
}

.lifehacks__title {
    font-size: 34px;
    color: vars.$lightTextColor;
    font-weight: 700;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.lifehacks-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(14, auto);
    column-gap: 24px;
    row-gap: 24px;
    position: relative;
    z-index: 2;
}

.lifehack {
    padding: 33px 37px 26px;
    border-radius: 20px;
    height: 100%;
    border: 1px solid beige;
    background-color: vars.$lightBgColor;
    position: relative;

    &:nth-child(even) {
        .lifehack__number {
            transform: rotateZ(-5deg);
        }
    }

    &:nth-child(1) {
        counter-increment: count;
        grid-row: 1 / span 5;
    }
    &:nth-child(2) {
        counter-increment: count;
        grid-row: 1 / span 4;
    }
    &:nth-child(3) {
        counter-increment: count;
        grid-row: 1 / span 5;
    }
    &:nth-child(4) {
        counter-increment: count;
        grid-row: 6 / span 5;
    }
    &:nth-child(5) {
        counter-increment: count;
        grid-row: 5 / span 5;
    }
    &:nth-child(6) {
        counter-increment: count;
        grid-row: 6 / span 5;
    }
    &:nth-child(7) {
        counter-increment: count;
        grid-row: 11 / span 5;
    }
    &:nth-child(8) {
        counter-increment: count;
        grid-row: 10 / span 6;
    }
    &:nth-child(9) {
        counter-increment: count;
        grid-row: 11 / span 5;
    }
}

.lifehack__title {
    font-size: 19px;
    color: vars.$darkTextColor;
    font-weight: 700;
    margin-bottom: 21px;
    padding-right: 112px;
    min-height: 48px;
}

.lifehack__descr {
    font-size: 14px;
}

.lifehack__number {
    position: absolute;
    top: 23px;
    right: 30px;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 14px;
    width: fit-content;
    color: vars.$lightTextColor;
    border-radius: 13.5px;
    background: vars.$mainGrad;
    transform: rotateZ(5deg);
}

.lifehack__fade-number {
    opacity: 0.1;
}
