@use "../base/vars";

.top-places__title {
    font-size: 34px;
    color: vars.$darkTextColor;
    font-weight: 700;
    text-align: center;
    padding: 56px 0 20px;
    margin-bottom: 55px;

    @media (max-width: vars.$mediaTablet) {
        font-size: 26px;
        padding: 46px 0 0;
        margin-bottom: 34px;
    }
    @media (max-width: vars.$mediaMobile) {
        font-size: 18px;
    }
}

.top-places__slider {
    .top-places__left-button {
        fill: vars.$darkBgColor;

        @media (max-width: vars.$mediaTablet) {
            fill: vars.$lightBgColor;
        }
        @media (max-width: vars.$mediaTablet) and (hover: none) {
            fill: vars.$lightBgColor;
        }
    }

    .top-places__bar {
        svg {
            stroke: vars.$darkBgColor;
        }

        .slider__indicator--active {
            svg {
                stroke: none;
                fill: vars.$darkBgColor;
            }
        }
    }
}
