@use "../base/vars";
@use "../fonts";

html {
    font-size: vars.$basicFontSize;
}

body {
    font-family: vars.$mainFontFamily;
    font-weight: 400;
    color: vars.$mainTextColor;
    background-color: vars.$lightBgColor;
}

.container {
    max-width: vars.$containerWidth;
    padding: 0 vars.$containerPadding;
    margin: 0 auto;
}
