@use "../base/vars";
@use "../components/hero";
@use "../components/about";
@use "../components/map";
@use "../components/socials";
@use "../components/slider";
@use "../components/history";
@use "../components/top-places";
@use "../components/leisure";
@use "../components/lifehacks";
@use "../components/gallery";

main {
    width: 100%;
    overflow: hidden;
}

.crimea__bg {
    background: url("../img/crimea_bg.png") right bottom / 945px 697px no-repeat;

    @media (max-width: vars.$mediaTablet) {
        background: url("../img/crimea_bg.png") bottom / 409px 264px no-repeat;
    }
}

.webp .crimea__bg {
    background: url("../img/crimea_bg.webp") right bottom / 945px 697px
        no-repeat;

    @media (max-width: vars.$mediaTablet) {
        background: url("../img/crimea_bg.webp") bottom / 409px 264px no-repeat;
    }
}
