// Text Colors
$mainTextColor: #6b6b6b;
$mediumTextColor: #595959;
$darkTextColor: #323232;
$lightTextColor: #ffffff;
$hoverLinkColor: #87ce66;

//  Background Colors
$lightBgColor: #fcfcfc;
$darkBgColor: #87ce66;
$footerBgColor: #323232;

// Gradient
$mainGrad: linear-gradient(#86cd65 0%, #63ab41 100%);

// Fonts
$mainFontFamily: "Gilroy", "Open Sans", sans-serif;
$basicFontSize: 15px;

//  Borders
$smallBorderRadius: 1rem;
$bigBorderRadius: 1.33rem;

//  Container
$containerPadding: 15px;
$containerWidth: 1200px + ($containerPadding * 2);

//  Transitions
$basicTrans: all 0.3s;

//  Scale
$basicScale: scale(1.3);

//  Opacity
$basicOpacity: 0.8;

// Paddings & Margins
$mainPadding: 15px;
$mainMargin: 15px;

// Medias
$mediaTablet: 992px;
$mediaSmallTablet: 767px;
$mediaMobile: 575px;
$mediaSmallMobile: 320px;
