<section class="about" id="about" aria-label="Секция о проекте">
  <div class="container">
    <h2 class="about__title">О проекте</h2>
    <div class="about__wrapper">
      <h3 class="about__subtitle">
        Этот проект создан для <span class="dark-color">:</span>
      </h3>
      <div class="tag-bar" aria-label="Поле с тегами">
        <span class="tag">Начинающих и опытных путешественников</span>
        <span class="tag">Романтиков</span>
        <span class="tag">Мечтателей</span>
        <span class="tag">Отправляющихся покорять крымские просторы</span>
        <span class="tag">Смельчаков</span>
      </div>
      <div class="about_description" aria-label="Поле с информацией о проекте">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam fugit
          repellendus vel? Eveniet in facilis odio alias reiciendis cum maiores,
          distinctio a. Maxime labore molestias nesciunt tempore unde! Veniam,
          harum?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto illum
          reprehenderit doloremque? Iste sunt dignissimos assumenda fugit neque.
          Modi ab molestias harum ratione minima magnam magni, laudantium porro
          assumenda officiis.
        </p>
      </div>
    </div>
  </div>
</section>
