<section class="about" id="about" aria-label="Секция о проекте">
    <div class="container about__container">
        <div class="about__title-wrapper">
            <h2 class="about__title">
                <span class="about__text-centrator">
                    <svg
                        class="about__target-img"
                        aria-label="Фоновая картинка"
                    >
                        <use href="./img/icons/icons.svg#target"></use>
                    </svg>
                    О</span
                >
                проекте
            </h2>
        </div>

        <div class="about__wrapper">
            <h3 class="about__subtitle">
                Этот проект создан для <span class="accent-color">:</span>
            </h3>
            <div class="tag-bar" aria-label="Поле с тегами">
                <span class="tag">Начинающих и опытных путешественников</span>
                <span class="tag">Романтиков</span>
                <span class="tag">Мечтателей</span>
                <span class="tag"
                    >Отправляющихся покорять крымские просторы</span
                >
                <span class="tag">Смельчаков</span>
            </div>
            <div
                class="about_description"
                aria-label="Поле с информацией о проекте"
            >
                <p>
                    Когда приезжаешь сюда, возникает непреодолимое желание
                    объять необъятное. Здесь туристов ждут горные тропы и
                    головокружительные морские виды, расслабляющие прогулки в
                    парках и знакомство с удивительной архитектурой, неспешный
                    пляжный отдых и посещение тайных мест силы, о которых знают
                    далеко не все местные жители. 
                </p>
                <p>
                    Как построить свой маршрут так, чтобы познакомиться с
                    чудесами и красотами полуострова? Спланировать свой отпуск
                    вместе с нами. Проложите виртуальный маршрут с помощью
                    подробной карты с геотегами, создайте путешествие мечты! 
                </p>
            </div>
        </div>
    </div>
</section>
