<div class="card-hero @@classes" aria-label="Карточка главной секции">
    <div class="card-hero__text">
        <h3 class="card-hero__title" aria-label="Заголовок карточки">
            @@title
        </h3>
        <h4 class="card-hero__subtitle" aria-label="Подзаголовок карточки">
            @@subtitle
        </h4>
        <p class="card-hero__descr">@@description</p>
    </div>
    <div class="card-hero__img-wrapper">
        <svg class="card-hero__img" aria-label="Картинка карточки">
            <use href="@@imgSrc"></use>
        </svg>
    </div>
</div>
