<section class="hero">
  <div class="container">
    <div class="hero__photo-wrapper">
      <div class="hero__photo"></div>
    </div>
    <div class="hero__info">
      <h1 class="hero__title">Крым</h1>
      <p class="hero__descr">Создай путешествие твоей мечты</p>
    </div>
    <div class="cards">
      <div class="card hero__card">
        <div class="card__main">
          <h3 class="card__title">Транспорт</h3>
          <h4 class="card__subtitle">От и до</h4>
        </div>
        <p class="card__descr">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat vero
          incidunt perferendis consequuntur voluptas voluptatibus quia modi ab
          autem optio architecto, deserunt minima perspiciatis facere eum ea
          error iste? Autem.
        </p>
        <div class="card__img-wrapper">
          <img src="#" alt="card logo" />
        </div>
      </div>

      <div class="card hero__card">
        <div class="card__main">
          <h3 class="card__title">Климат</h3>
          <h4 class="card__subtitle">Три в одном</h4>
        </div>
        <p class="card__descr">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
          pariatur omnis fuga fugiat harum sapiente eius? Natus fugiat optio
          architecto velit harum illo perspiciatis ipsum impedit, voluptatum
          molestiae saepe quo!
        </p>
        <div class="card__img-wrapper">
          <img src="#" alt="card logo" />
        </div>
      </div>

      <div class="card hero__card">
        <div class="card__main">
          <h3 class="card__title">Культура</h3>
          <h4 class="card__subtitle">Место силы</h4>
        </div>
        <p class="card__descr">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, ex
          vel provident necessitatibus deleniti consequatur architecto officiis
          tempore doloribus autem facilis iste ipsam eos blanditiis
          consequuntur, natus, alias fugit vero.
        </p>
        <div class="card__img-wrapper">
          <img src="#" alt="card logo" />
        </div>
      </div>

      <div class="card hero__card">
        <div class="card__main">
          <h3 class="card__title">Флора</h3>
          <h4 class="card__subtitle">Цветет и пахнет</h4>
        </div>
        <p class="card__descr">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
          fugiat incidunt magnam necessitatibus! Atque aspernatur vero,
          provident eveniet sit tenetur labore corrupti repellendus magni
          quibusdam ullam qui asperiores veniam. Eius?
        </p>
        <div class="card__img-wrapper">
          <img src="#" alt="card logo" />
        </div>
      </div>
    </div>
    <div class="router">Проложи маршрут</div>
  </div>
</section>
