<section class="leisure" id="leisure" aria-label="Секция досуга в Крыму">
    <div class="container">
        <h2 class="display--none">Досуг</h2>
        <div class="leisure__cards" aria-label="Карточки досуга">
            <div class="leisure-card" aria-label="Карточка досуга">
                <div
                    class="leisure-card__img-wrapper"
                    aria-label="Картинка карточки досуга"
                >
                    <img src="./img/leisure_kitchen.jpg" alt="Крымская кухня" />
                </div>
                <div
                    class="leisure-card__text"
                    aria-label="Текст карточки досуга"
                >
                    <h3 class="leisure-card__title">Местная кухня</h3>
                    <p class="leisure-card__descr">
                        Особенности местной кухни, или что обязательно надо
                        попробовать в Крыму
                    </p>
                </div>
                <div class="leisure-card__about">
                    <a href="#" aria-label="Кнопка подробнее">
                        <span>Подробнее</span>

                        <svg class="leisure__arrow" aria-label="Стрелка">
                            <use
                                href="./img/icons/icons.svg#leisure_arrow"
                            ></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="leisure-card" aria-label="Карточка досуга">
                <div
                    class="leisure-card__img-wrapper"
                    aria-label="Картинка карточки досуга"
                >
                    <img
                        src="./img/leisure_children.jpg"
                        alt="Крым для детей"
                    />
                </div>
                <div
                    class="leisure-card__text"
                    aria-label="Текст карточки досуга"
                >
                    <h3 class="leisure-card__title">Крым для детей</h3>
                    <p class="leisure-card__descr">
                        Особенности местной кухни, или что обязательно надо
                        попробовать в Крыму
                    </p>
                </div>
                <div class="leisure-card__about">
                    <a href="#" aria-label="Кнопка подробнее">
                        <span>Подробнее</span>

                        <svg class="leisure__arrow" aria-label="Стрелка">
                            <use
                                href="./img/icons/icons.svg#leisure_arrow"
                            ></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="leisure-card" aria-label="Карточка досуга">
                <div
                    class="leisure-card__img-wrapper"
                    aria-label="Картинка карточки досуга"
                >
                    <img src="./img/leisure_wine.jpg" alt="Крымские вина" />
                </div>
                <div
                    class="leisure-card__text"
                    aria-label="Текст карточки досуга"
                >
                    <h3 class="leisure-card__title">Винодельни Крыма</h3>
                    <p class="leisure-card__descr">
                        Особенности местной кухни, или что обязательно надо
                        попробовать в Крыму
                    </p>
                </div>
                <div class="leisure-card__about">
                    <a href="#" aria-label="Кнопка подробнее"
                        ><span>Подробнее</span>

                        <svg class="leisure__arrow" aria-label="Стрелка">
                            <use
                                href="./img/icons/icons.svg#leisure_arrow"
                            ></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
