<section class="lifehacks" id="lifehacks" aria-label="Секция лайфхаков">
    <div class="container lifehacks__container">
        <h2 class="lifehacks__title">9 лайфхаков для путешествия по Крыму </h2>
        <div class="lifehacks-wrapper" aria-label="Лайфхаки">
            <div class="lifehack" aria-label="Карточка лайфхака">
                <h3 class="lifehack__title" aria-label="Заголовок лайфхака">
                    Не бойтесь приезжать не в сезон
                </h3>
                <p class="lifehack__descr" aria-label="Описание лайфхака">
                    У природы нет плохой погоды – пожалуй, это утверждение из
                    известной песни как раз про Крым. Весной здесь начинается
                    буйство красок – цветет буквально все и вся; лето –
                    классический сезон; осень и зима – лучшее время для
                    знакомства с крымской природой. Вопреки расхожим мифам,
                    жизнь в крупных городах полуострова не замирает после
                    “бархатных” месяцев. 
                </p>
                <div class="lifehack__number" aria-label="Номер лайфхака">
                    <span class="lifehack__fade-number">0</span>1
                </div>
            </div>
            <div class="lifehack" aria-label="Карточка лайфхака">
                <h3 class="lifehack__title" aria-label="Заголовок лайфхака">
                    Ходите в столовые
                </h3>
                <p class="lifehack__descr" aria-label="Описание лайфхака">
                    Крымчане умеют и любят поговорить о цене на свой товар, и с
                    радостью идут на уступки, если вы сможете выдвинуть
                    аргументы, почему им необходимо снизить стоимость продукта
                    или услуги. 
                </p>
                <div class="lifehack__number" aria-label="Номер лайфхака">
                    <span class="lifehack__fade-number">0</span>2
                </div>
            </div>
            <div class="lifehack" aria-label="Карточка лайфхака">
                <h3 class="lifehack__title" aria-label="Заголовок лайфхака">
                    Следуйте за местными
                </h3>
                <p class="lifehack__descr" aria-label="Описание лайфхака">
                    Центральные рынки – эдакая ярмарка тщеславия, фасад,
                    рассчитанный на неопытных туристов. Конечно же, все
                    продукты, которые там продаются, свежие и качественные, а
                    вот цены на них завышены вдвое, а то и втрое. Хотите
                    крымских овощей, фруктов, сыров и орехов – отправляйтесь по
                    следам местных жителей. Они закупаются на небольших рыночках
                    и развалах рядом с пристанями.
                </p>
                <div class="lifehack__number" aria-label="Номер лайфхака">
                    <span class="lifehack__fade-number">0</span>3
                </div>
            </div>
            <div class="lifehack" aria-label="Карточка лайфхака">
                <h3 class="lifehack__title" aria-label="Заголовок лайфхака">
                    Берите с собой трекинговую обувь
                </h3>
                <p class="lifehack__descr" aria-label="Описание лайфхака">
                    Или любую другую очень (ОЧЕНЬ!) удобную пару. Южный берег и
                    населенные пункты западнее, вплоть до Севастополя – это
                    тысячи спусков и подъемов, множество крутых лестниц и узких
                    улочек. Помимо всего прочего, в Крыму никогда не знаешь,
                    когда окажешься в горах, так что лучше запастись комфортной
                    обувью.
                </p>
                <div class="lifehack__number" aria-label="Номер лайфхака">
                    <span class="lifehack__fade-number">0</span>4
                </div>
            </div>
            <div class="lifehack" aria-label="Карточка лайфхака">
                <h3 class="lifehack__title" aria-label="Заголовок лайфхака">
                    Будьте мобильны
                </h3>
                <p class="lifehack__descr" aria-label="Описание лайфхака">
                    Иудобную пару. Южный берег и населенные пункты западнее,
                    вплоть до Севастополя – это тысячи спусков и подъемов,
                    множество крутых лестниц и узких улочек. Помимо всего
                    прочего, в Крыму никогда не знаешь, когда окажешься в горах,
                    так что лучше запастись комфортной обувью.
                </p>
                <div class="lifehack__number" aria-label="Номер лайфхака">
                    <span class="lifehack__fade-number">0</span>5
                </div>
            </div>
            <div class="lifehack" aria-label="Карточка лайфхака">
                <h3 class="lifehack__title" aria-label="Заголовок лайфхака">
                    Пользуйтесь общественным транспортом
                </h3>
                <p class="lifehack__descr" aria-label="Описание лайфхака">
                    В Крыму действительно отлично развита транспортная
                    инфраструктура: здесь ходят автобусы и троллейбусы, трамваи
                    и электрички,катера, паромы и ялики, работают фуникулеры и
                    канатные дороги. Поездка на местном транспорте – это особая
                    атмосфера и приключение. Не забудьте приобрести проездную
                    карту, они продаются в любой точке с печатной продукцией. 
                </p>
                <div class="lifehack__number" aria-label="Номер лайфхака">
                    <span class="lifehack__fade-number">0</span>6
                </div>
            </div>
            <div class="lifehack" aria-label="Карточка лайфхака">
                <h3 class="lifehack__title" aria-label="Заголовок лайфхака">
                    Снимите комнату в хостеле
                </h3>
                <p class="lifehack__descr" aria-label="Описание лайфхака">
                    Зачастую из-за наплыва туристов многие известные отели и
                    гостиницы бывают переполнены. Как быть? Изучать другие
                    предложения. Хостелы в больших городах полуострова – это
                    доступно, комфортно, безопасно и просто красиво.
                </p>
                <div class="lifehack__number" aria-label="Номер лайфхака">
                    <span class="lifehack__fade-number">0</span>7
                </div>
            </div>
            <div class="lifehack" aria-label="Карточка лайфхака">
                <h3 class="lifehack__title" aria-label="Заголовок лайфхака">
                    Используйте карту гостя
                </h3>
                <p class="lifehack__descr" aria-label="Описание лайфхака">
                    Центральные рынки – эдакая ярмарка тщеславия, фасад,
                    рассчитанный на неопытных туристов. Конечно же, все
                    продукты, которые там продаются, свежие и качественные, а
                    вот цены на них завышены вдвое, а то и втрое. Хотите
                    крымских овощей, фруктов, сыров и орехов – отправляйтесь по
                    следам местных жителей. Они закупаются на небольших рыночках
                    и развалах рядом с пристанями.
                </p>
                <div class="lifehack__number" aria-label="Номер лайфхака">
                    <span class="lifehack__fade-number">0</span>8
                </div>
            </div>
            <div class="lifehack" aria-label="Карточка лайфхака">
                <h3 class="lifehack__title" aria-label="Заголовок лайфхака">
                    Не забывайте торговаться!
                </h3>
                <p class="lifehack__descr" aria-label="Описание лайфхака">
                    Крымчане умеют и любят поговорить о цене на свой товар, и с
                    радостью идут на уступки, если вы сможете выдвинуть
                    аргументы, почему им необходимо снизить стоимость продукта
                    или услуги.
                </p>
                <div class="lifehack__number" aria-label="Номер лайфхака">
                    <span class="lifehack__fade-number">0</span>9
                </div>
            </div>
        </div>
    </div>
    <div class="lifehacks_route">
        <img src="./img/lifehack_route_bg.png" alt="Фоновая картинка пути" />
    </div>
</section>
