<section
    class="slider_section"
    id="slider_section"
    aria-label="Секция слайдера"
>
    <div class="container">
        <h2 class="display--none">Слайдер</h2>
        <div class="slider" aria-label="Слайдер">
            <div class="slides" aria-label="Поле слайдов">
                <div class="slide">
                    <div class="slide__wrapper" aria-label="Слайд">
                        <div
                            class="slide__image"
                            aria-label="Картинка слайдера"
                        >
                            <img src="./img/Chekhovs_house.jpg" alt="Фото 1" />
                        </div>
                        <div class="slide__text">
                            <h3 class="slide__title">Культурное погружение</h3>
                            <h4 class="slide__subtitle">
                                Тем, кто тянется к прекрасному
                            </h4>
                            <div
                                class="slide__paragraphs"
                                aria-label="Поле параграфов слайдера"
                            >
                                <p>
                                    Окунитесь в море в бухте у секретной дачи
                                    Антона Чехова. Прикоснитесь к древним камням
                                    греческого Херсонеса. Посетите драматический
                                    театр Черноморского флота в Севастополе.
                                    Узнайте, чем жили Айвазовский и Волошин.
                                </p>
                                <p>
                                    На территории полуострова расположено
                                    рекордное количество объектов культурного
                                    наследия и памятников архитектуры,
                                    домов-музеев, античных и православных
                                    храмов, мечетей и синагог, действуют
                                    сезонные и постоянные художественные
                                    выставки и инсталляции.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__wrapper" aria-label="Слайд">
                        <div
                            class="slide__image"
                            aria-label="Картинка слайдера"
                        >
                            <img src="./img/Chekhovs_house.jpg" alt="Фото 2" />
                        </div>

                        <div class="slide__text">
                            <h3 class="slide__title">Культурное погружение</h3>
                            <h4 class="slide__subtitle">
                                Тем, кто тянется к прекрасному
                            </h4>
                            <div
                                class="slide__paragraphs"
                                aria-label="Поле параграфов слайдера"
                            >
                                <p>
                                    Окунитесь в море в бухте у секретной дачи
                                    Антона Чехова. Прикоснитесь к древним камням
                                    греческого Херсонеса. Посетите драматический
                                    театр Черноморского флота в Севастополе.
                                    Узнайте, чем жили Айвазовский и Волошин.
                                </p>
                                <p>
                                    На территории полуострова расположено
                                    рекордное количество объектов культурного
                                    наследия и памятников архитектуры,
                                    домов-музеев, античных и православных
                                    храмов, мечетей и синагог, действуют
                                    сезонные и постоянные художественные
                                    выставки и инсталляции.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="slide__wrapper" aria-label="Слайд">
                        <div
                            class="slide__image"
                            aria-label="Картинка слайдера"
                        >
                            <img src="./img/Chekhovs_house.jpg" alt="Фото 3" />
                        </div>

                        <div class="slide__text">
                            <h3 class="slide__title">Культурное погружение</h3>
                            <h4 class="slide__subtitle">
                                Тем, кто тянется к прекрасному
                            </h4>
                            <div
                                class="slide__paragraphs"
                                aria-label="Поле параграфов слайдера"
                            >
                                <p>
                                    Окунитесь в море в бухте у секретной дачи
                                    Антона Чехова. Прикоснитесь к древним камням
                                    греческого Херсонеса. Посетите драматический
                                    театр Черноморского флота в Севастополе.
                                    Узнайте, чем жили Айвазовский и Волошин.
                                </p>
                                <p>
                                    На территории полуострова расположено
                                    рекордное количество объектов культурного
                                    наследия и памятников архитектуры,
                                    домов-музеев, античных и православных
                                    храмов, мечетей и синагог, действуют
                                    сезонные и постоянные художественные
                                    выставки и инсталляции.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="slide__wrapper" aria-label="Слайд">
                        <div
                            class="slide__image"
                            aria-label="Картинка слайдера"
                        >
                            <img src="./img/Chekhovs_house.jpg" alt="Фото 4" />
                        </div>

                        <div class="slide__text">
                            <h3 class="slide__title">Культурное погружение</h3>
                            <h4 class="slide__subtitle">
                                Тем, кто тянется к прекрасному
                            </h4>
                            <div
                                class="slide__paragraphs"
                                aria-label="Поле параграфов слайдера"
                            >
                                <p>
                                    Окунитесь в море в бухте у секретной дачи
                                    Антона Чехова. Прикоснитесь к древним камням
                                    греческого Херсонеса. Посетите драматический
                                    театр Черноморского флота в Севастополе.
                                    Узнайте, чем жили Айвазовский и Волошин.
                                </p>
                                <p>
                                    На территории полуострова расположено
                                    рекордное количество объектов культурного
                                    наследия и памятников архитектуры,
                                    домов-музеев, античных и православных
                                    храмов, мечетей и синагог, действуют
                                    сезонные и постоянные художественные
                                    выставки и инсталляции.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="slide__wrapper" aria-label="Слайд">
                        <div
                            class="slide__image"
                            aria-label="Картинка слайдера"
                        >
                            <img src="./img/Chekhovs_house.jpg" alt="Фото 5" />
                        </div>

                        <div class="slide__text">
                            <h3 class="slide__title">Культурное погружение</h3>
                            <h4 class="slide__subtitle">
                                Тем, кто тянется к прекрасному
                            </h4>
                            <div
                                class="slide__paragraphs"
                                aria-label="Поле параграфов слайдера"
                            >
                                <p>
                                    Окунитесь в море в бухте у секретной дачи
                                    Антона Чехова. Прикоснитесь к древним камням
                                    греческого Херсонеса. Посетите драматический
                                    театр Черноморского флота в Севастополе.
                                    Узнайте, чем жили Айвазовский и Волошин.
                                </p>
                                <p>
                                    На территории полуострова расположено
                                    рекордное количество объектов культурного
                                    наследия и памятников архитектуры,
                                    домов-музеев, античных и православных
                                    храмов, мечетей и синагог, действуют
                                    сезонные и постоянные художественные
                                    выставки и инсталляции.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="slider__left" aria-label="Кнопки слайдера влево">
                <svg aria-label="Кнопка влево">
                    <use href="./img/icons/icons.svg#slider_arrow_left"></use>
                </svg>
            </button>

            <button class="slider__right" aria-label="Кнопки слайдера вправо">
                <svg class="slider__target_bg" aria-label="Фон-мишень">
                    <use href="./img/icons/icons.svg#target"></use>
                </svg>

                <svg aria-label="Кнопка вправо">
                    <use href="./img/icons/icons.svg#slider_arrow_right"></use>
                </svg>
            </button>

            <div
                class="slider__bar"
                aria-label="Панель индикации положения слайдера"
            >
                <button class="slider__indicator slider__indicator--active">
                    <svg aria-label="Спрайт индикатора">
                        <use
                            href="./img/icons/icons.svg#slider_indicator_active"
                        ></use>
                    </svg>
                </button>
                <button
                    class="slider__indicator"
                    aria-label="Переместиться на слайд"
                >
                    <svg aria-label="Спрайт индикатора">
                        <use
                            href="./img/icons/icons.svg#slider_indicator"
                        ></use>
                    </svg>
                </button>
                <button
                    class="slider__indicator"
                    aria-label="Переместиться на слайд"
                >
                    <svg aria-label="Спрайт индикатора">
                        <use
                            href="./img/icons/icons.svg#slider_indicator"
                        ></use>
                    </svg>
                </button>
                <button
                    class="slider__indicator"
                    aria-label="Переместиться на слайд"
                >
                    <svg aria-label="Спрайт индикатора">
                        <use
                            href="./img/icons/icons.svg#slider_indicator"
                        ></use>
                    </svg>
                </button>
                <button
                    class="slider__indicator"
                    aria-label="Переместиться на слайд"
                >
                    <svg aria-label="Спрайт индикатора">
                        <use
                            href="./img/icons/icons.svg#slider_indicator"
                        ></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
