<section class="slider" id="slider" aria-label="Секция слайдера">
  <div class="container">
    <h2 class="display--none">Слайдер</h2>
    <div class="slider" aria-label="Слайдер">
      <div class="slides" aria-label="Поле слайдов">
        <div class="slide" aria-label="Слайд">
          <div class="slide__image" aria-label="Картинка слайдера">
            <img src="#" alt="Фото 1" />
          </div>
          <h3 class="slide__title">Культурное погружение</h3>
          <h4 class="slide__subtitle">Тем, кто тянется к прекрасному</h4>
          <div class="slide__paragraphs" aria-label="Поле параграфов слайдера">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              adipisci sapiente perspiciatis repudiandae quos at? Sequi
              cupiditate molestias aliquam! Eum nam facere, eaque autem incidunt
              distinctio corrupti dignissimos itaque pariatur.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              eligendi ab officia ad eum impedit cumque saepe. Quidem, modi quas
              veritatis quis a iste earum commodi unde odio doloribus
              praesentium.
            </p>
          </div>
        </div>

        <div class="slide" aria-label="Слайд">
          <div class="slide__image" aria-label="Картинка слайдера">
            <img src="#" alt="Фото 2" />
          </div>
          <h3 class="slide__title">Культурное погружение</h3>
          <h4 class="slide__subtitle">Тем, кто тянется к прекрасному</h4>
          <div class="slide__paragraphs" aria-label="Поле параграфов слайдера">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              adipisci sapiente perspiciatis repudiandae quos at? Sequi
              cupiditate molestias aliquam! Eum nam facere, eaque autem incidunt
              distinctio corrupti dignissimos itaque pariatur.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              eligendi ab officia ad eum impedit cumque saepe. Quidem, modi quas
              veritatis quis a iste earum commodi unde odio doloribus
              praesentium.
            </p>
          </div>
        </div>

        <div class="slide" aria-label="Слайд">
          <div class="slide__image" aria-label="Картинка слайдера">
            <img src="#" alt="Фото 3" />
          </div>
          <h3 class="slide__title">Культурное погружение</h3>
          <h4 class="slide__subtitle">Тем, кто тянется к прекрасному</h4>
          <div class="slide__paragraphs" aria-label="Поле параграфов слайдера">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              adipisci sapiente perspiciatis repudiandae quos at? Sequi
              cupiditate molestias aliquam! Eum nam facere, eaque autem incidunt
              distinctio corrupti dignissimos itaque pariatur.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              eligendi ab officia ad eum impedit cumque saepe. Quidem, modi quas
              veritatis quis a iste earum commodi unde odio doloribus
              praesentium.
            </p>
          </div>
        </div>

        <div class="slide" aria-label="Слайд">
          <div class="slide__image" aria-label="Картинка слайдера">
            <img src="#" alt="Фото 4" />
          </div>
          <h3 class="slide__title">Культурное погружение</h3>
          <h4 class="slide__subtitle">Тем, кто тянется к прекрасному</h4>
          <div class="slide__paragraphs" aria-label="Поле параграфов слайдера">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              adipisci sapiente perspiciatis repudiandae quos at? Sequi
              cupiditate molestias aliquam! Eum nam facere, eaque autem incidunt
              distinctio corrupti dignissimos itaque pariatur.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              eligendi ab officia ad eum impedit cumque saepe. Quidem, modi quas
              veritatis quis a iste earum commodi unde odio doloribus
              praesentium.
            </p>
          </div>
        </div>

        <div class="slide" aria-label="Слайд">
          <div class="slide__image" aria-label="Картинка слайдера">
            <img src="#" alt="Фото 5" />
          </div>
          <h3 class="slide__title">Культурное погружение</h3>
          <h4 class="slide__subtitle">Тем, кто тянется к прекрасному</h4>
          <div class="slide__paragraphs" aria-label="Поле параграфов слайдера">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              adipisci sapiente perspiciatis repudiandae quos at? Sequi
              cupiditate molestias aliquam! Eum nam facere, eaque autem incidunt
              distinctio corrupti dignissimos itaque pariatur.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              eligendi ab officia ad eum impedit cumque saepe. Quidem, modi quas
              veritatis quis a iste earum commodi unde odio doloribus
              praesentium.
            </p>
          </div>
        </div>
      </div>
      <div class="slider__buttons" aria-label="Кнопки слайдера">
        <div class="slider__left"><img src="#" alt="Влево" /></div>
        <div class="slider__right"><img src="#" alt="Вправо" /></div>
      </div>
      <div class="slider__bar" aria-label="Панель индикации положения слайдера">
        <button class="slider__indicator slider__indicator--active">o</button>
        <button class="slider__indicator">o</button>
        <button class="slider__indicator">o</button>
        <button class="slider__indicator">o</button>
        <button class="slider__indicator">o</button>
      </div>
    </div>
  </div>
</section>
