<section
    class="socials @@classes"
    id="socials"
    aria-label="Секция с социальными сетями"
>
    <div class="container socials__container">
        <h3 class="socials__title">
            Поделись достопремичательностями Крыма в социальных сетях
            <svg class="socials__arrow" aria-label="Стрелка">
                <use href="./img/icons/icons.svg#arrow"></use>
            </svg>
        </h3>
        <div class="socials__bar" aria-label="Поле с социальными сетями">
            <div class="social social__vk" aria-label="Вконтакте">
                <a
                    aria-label="На сайт Вконтакте"
                    target="_blank"
                    href="https://vk.com"
                >
                    <svg aria-label="Логотип Вконтакте">
                        <use href="./img/icons/icons.svg#vk"></use>
                    </svg>
                </a>
            </div>
            <div class="social social__twitter" aria-label="Twitter">
                <a
                    aria-label="На сайт Twitter"
                    target="_blank"
                    href="https://twitter.com"
                >
                    <svg aria-label="Логотип Twitter">
                        <use href="./img/icons/icons.svg#twitter"></use>
                    </svg>
                </a>
            </div>
            <div class="social social__fb" aria-label="Facebook">
                <a
                    aria-label="На сайт Facebook"
                    target="_blank"
                    href="https://www.facebook.com"
                >
                    <svg aria-label="Логотип Facebook">
                        <use href="./img/icons/icons.svg#facebook"></use>
                    </svg>
                </a>
            </div>
            <div class="social social__ok" aria-label="Одноклассники">
                <a
                    aria-label="На сайт Одноклассники"
                    target="_blank"
                    href="https://ok.ru"
                >
                    <svg aria-label="Логотип Одноклассники">
                        <use href="./img/icons/icons.svg#odnoklassniki"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
