<section class="socials" id="socials" aria-label="Секция с социальными сетями"></section>>
  <div class="container">
    <h3 class="socials__title">
      Поделись достопремичательностями Крыма в социальных сетях
    </h3>
    <div class="socials__bar" aria-label="Поле с социальными сетями">
      <div class="social" aria-label="Вконтакте">
        <img src="#" alt="Логотип Вконтакте" />
      </div>
      <div class="social" aria-label="Twitter">
        <img src="#" alt="Логотип Twitter" />
      </div>
      <div class="social" aria-label="Facebook">
        <img src="#" alt="Логотип Facebook" />
      </div>
      <div class="social" aria-label="Одноклассники">
        <img src="#" alt="Логотип Одноклассники" />
      </div>
    </div>
  </div>
</section>
